name: Java CI/CD Pipeline

on:
  push:
    branches: [ "rental_package_jack" ]
  pull_request:
    branches: [ "rental_package_jack" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B package --file pom.xml


      - name: Run tests
        run: mvn test

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/rental_package_jack'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Deploy to server
        run: echo "Deploying application..."
