name: CI/CD Pipeline for JCR

on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_test: 

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set Up JDK 25
      uses: actions/setup-java@v3
      with:
        java-version: '25-ea'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file code/pom.xml


  publish:
    runs-on: ubuntu-latest
    needs: build_test
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '25-ea'
          distribution: 'temurin'
      - name: Publish to GitHub Packages
        run: mvn deploy --settings .github/maven-settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
  deploy:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository }}:latest .
      - name: Push Docker image
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - run: docker push ghcr.io/${{ github.repository }}:latest

    
  
    
