name: CI/CD Pipeline for JCR

on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_test: 

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set Up JDK 25
      uses: actions/setup-java@v3
      with:
        java-version: '25-ea'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file code/pom.xml


  publish-job:
    runs-on: ubuntu-latest
    needs: build_test
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: "25-ea"
          distribution: "temurin"
      - run: mvn --batch-mode --update-snapshots verify
      - run: mkdir staging && cp target/*.jar staging
      - uses: actions/upload-artifact@v4
        with: 
          name: Package
          path: staging
    
  
    
