name: CI/CD Pipeline for JCR

on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions: 
  contents: read
  packages: write

jobs:
  build: 
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code 
    - uses: actions/checkout@v3
    
    - name: Set Up JDK 25
      uses: actions/setup-java@v3
      with:
        java-version: '25-ea'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B package --file code/pom.xml

    - name: upload JAR as artifact
      uses: actions/upload-artefact@v3
      with: 
        name: jcr.jar
        path: target/*.jar


  


    
  
    
